body{
    margin:0;
    padding: 0;
}

#second-cf{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color:lightblue;
    /* z-index: 1000; */
    /* background-size: cover; */
    position: absolute;
    top: 0px;

}
#second-cfmain{

    width: 700px;
    height: 100px;
    position: absolute;
    top: 10vh;
    left: 43vw;
    padding: 30px;
    line-height: 1.6;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.celsius1{

    background-image: url("image/celcius.jpg");
    height: 500px;
}